# Project exclude paths
/node_modules/
/coverage/
/public/javascripts/
/src/modules/Game.js
/src/modules/Game.js.map
/src/modules/StartGame.js
/src/modules/StartGame.js.map
/.idea/
/**/*.js
/**/*.js.map