# Project exclude paths
!/node_modules
/node_modules/*
!/node_modules/physijs
/coverage/
/public/javascripts/
/.idea/
/src/**/*.js
/src/**/*.js.map
/test/**/*.js
/test/**/*.js.map
!/src/modules/physijs